<header id="navbar">
  <div id="navbar-container" class="boxed">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <div class="brand-title">
          <span class="brand-text">Surf League</span>
        </div>
      </a>
    </div>
    <div class="navbar-content clearfix">          
    </div>
  </div>
</header>