<nav class="navbar navbar-default navbar-fixed-left">
  <div class="container">
    <ul class="navbar">
      <li class="navbar-btn" style="list-style:none;"><%= link_to "Tournaments", root_path, class: "btn btn-default" %></li>
      <li class="navbar-btn" style="list-style:none;"><%= link_to "Participants", participants_path, class: "btn btn-default" %></li>
      <li class="navbar-btn" style="list-style:none;"><a class="btn btn-default" href="">Judges</a></li> 
    </ul>
  </div>
</nav>