<nav id="mainnav-container">
  <div id="mainnav">
    <div id="mainnav-shortcut">
    </div>
    <div id="mainnav-menu-wrap">
      <div class="nano">
        <div class="nano-content">
          <ul id="mainnav-menu" class="list-group">                 
            <li>
              <%= link_to 'Tournaments', root_path, class: "fa fa-dashboard" %>
            </li>
            <li>
              <%= link_to 'Participants', participants_path, class: "fa fa-dashboard" %>
            </li>
            <li>
              <%= link_to 'Judges', {}, class: "fa fa-dashboard" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>